---
import Layout from "../../layouts/Layout.astro";

const title: string = "This is the about page!";
---

<Layout title="About">
    <main>
        <h1>{title}</h1>
        <p class="text-white">halaman about</p>
    </main>
</Layout>