---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HomePage from "./index";
---

<Layout title="Welcome to Astro.">
	<main>
		<HomePage client:load />
	</main>
</Layout>
